<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title> 
  </head>

  <body class="home">
    <header>
      <div>
        <img
          src="./images/logo-mercado-liebre.svg"
          alt="logo mercadoliebre"
        />
      </div>
      <div>
        <form action="">
          <input
            class="buscador"
            type="text"
            name="search"
            id="search"
            placeholder="Buscar productos, marcas"
          />
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>

    </p class="pagos">
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
        crédito
  </p>
      <nav>
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="">Creá tu cuenta </a></li>
          <li><a href="">Ingresá </a>
            <a href="">Mis compras </a>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <div class="banner">
        <img src="/images/img-home-banner.jpg" alt=""/>
      </div>
      <section>
        <h2 class="titulares"><strong>Basado en tu última visita</strong></h2>
        <article>
          
            <img
              src="./images/img-cafetera-moulinex.jpg"
              alt=""
            />
          
          <div class='contenedor'>
            <div>
            <p class="precio">$6.770</p>
            <span class="descuento">40% off</span>
            <h4 class="descripcion">Cafetera Moulinex</h4>
          </div>
        </article>

        <article>
          
            <img
              src="./images/img-macbook-pro-2019.jpg"
              alt=""
              />
          
          <div class='contenedor'>
            <div>
            <p class="precio">$230.000</p>
            <span class="descuento">20% off</span>
            <h4 class="descripcion">McBook Pro 2019</h4>
          </div>
        </article>

        <article>
          
            <img
              src="./images/img-samsung-galaxy-s10.jpg"
              alt=""
              
            />
        <div class='contenedor'>
          <p class="precio">$70.500</p>
          <span class="descuento">10% off</span>
          <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
      </article>
        <article>
          
            <img
              src="./images/img-tv-samsung-smart.jpg"
              alt=""
              
            />
          
          <div class='contenedor'>
            <p class="precio">$23.200</p>
            <span class="descuento">5% Off</span>
            <h4 class="descripcion">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>

      <section>
        <h2 class="titulares"><strong>Sección de Ofertas</strong></h2>
        <article>
          
            <img
              src="./images/img-cafetera-moulinex.jpg"
              alt=""
              
            />
          
          <div class='contenedor'>
            <p class="precio">$6.770</p>
            <span class="descuento">40% off</span>
            <h4 class="descripcion">Cafetera Moulinex</h4>
          </div>
        </article>

        <article>
          
            <img
              src="./images/img-macbook-pro-2019.jpg"
              alt=""
              
            />
          
          <div class='contenedor'>
            <p class="precio">$230.000</p>
            <span class="descuento">20% off</span>
            <h4 class="descripcion">McBook Pro 2019</h4>
          </div>
        </article>

        <article>
          
            <img
              src="./images/img-samsung-galaxy-s10.jpg"
              alt=""
              
            />
          
        
        <div class='contenedor'>
          <p class="precio">$70.500</p>
          <span class="descuento">10% off</span>
          <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
      </article>

        <article>
          
            <img
              src="./images/img-tv-samsung-smart.jpg"
              alt=""
              
            />
          
          <div class='contenedor'>
            <p class="precio">$23.200</p>
            <span class="descuento">5% Off</span>
            <h4 class="descripcion">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
    </main>

    <footer>
      
        <section>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>

        <section>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      
    </footer>
  </body>
</html>
