<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>

  <script src="https://kit.fontawesome.com/61253f2a8f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/general.css" />

</head>

<body class="home">
  <header>

    <div class="principalheader">
      <div>
        <img src="./images/logo-mercado-liebre.svg" alt="logo mercadoliebre" />
      </div>
      <div>
        <form action="">
          <input class="buscador menuheader" type="text" name="search" id="search" placeholder="Buscar productos, marcas" />
          <button><i class="fas fa-search menuheader"></i></button>
        </form>
      </div>

      <div class="pagos">
        
        <i class="fas fa-hand-holding-usd menuheader"style="font-size 24px"></i><h2>-Comprá en cuotas y sin tarjeta de
        crédito</h2>
  
      </div>
    </div>

    <nav>
      <ul class="ul1">
        <li><a class="menuheader" href="">Ofertas</a></li>
        <li><a class="menuheader" href="">Tiendas Oficiales</a></li>
        <li><a class="menuheader" href="">Vender</a></li>
        <li><a class="menuheader" href="">Ayuda</a></li>
      </ul>
      <ul class="ul2">
        <li><a class="menuheader" href="/register">Creá tu cuenta </a><i class="far fa-id-card menuheader"></i></li>
        <li><a class="menuheader" href="/login">Ingresá </a><i class="fas fa-sign-in-alt menuheader"></i></li>
        <li>
          <a class="menuheader" href="">Mis compras </a><i class="fas fa-shopping-basket menuheader"></i>
        </li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>
<main class="registro">
    <section class="registro-container">
        <form action="">
            <label class="nombre" for="name">Nombre Completo</label>
            <input type="text" name="name" id="name" placeholder="Nombre y apellido" required>

            <label for="user">Usuario</label>
            <input type="text" name="user" id="user" placeholder="Nombre de usuario" required>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="E-mail" required>

            <label  class="fecha" for="year"><strong>Fecha de nacimiento</strong></label>
            <input type="date" name="year" id="year" required>

            <label for="direction">Domicilio</label>
            <input type="text" name="direction" id="direction" placeholder="Domicilio" required>

            <strong>Perfil de usuario</strong>
            <div class="perfil">
                <label>
                    <input type="radio" name="comprador" id="comprador">
                    Comprador
                </label>
                <label>
                    <input type="radio" name="comprador" id="vendedor">
                    Vendedor
                </label>
                
                
            </div>
            <strong>Intereses</strong>
            <div class="interes">
                <label>
                    <input type="checkbox" name="interes" value="electro">
                    Electro
                </label>
                <label>
                    <input type="checkbox" name="interes"  value="moda">
                    Moda
                </label>
                <label>
                    <input type="checkbox" name="interes"  value="hogar">
                    Hogar
                </label>
                <label>
                    <input type="checkbox" name="interes"  value="jugueteria">
                    Juguetería
                </label>
                <label>
                    <input type="checkbox" name="interes"  value="vidaSana">
                    Vida sana
                </label>
            </div>
            <strong>Foto de Usuario</strong>
            <input type="file" name="fotoPerfil" id="fotoPerfil">

            <label for="confirma">Contraseña</label>
            <input type="text" name="confirma" id="confirma" placeholder="Contraseña" required title="ingrese bien su login">

            <label for="password">Confirmar Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Confirme Contraseña" required title="ingrese bien su contraseña">

            <div class="botones">
                <a class="celeste" href="/" ><button class="btnEnviar">Enviar</button></a>
                <a href=""><button class="btnBorrar" type="reset">Borrar</button></a>
            </div>
        </form>
    </section>


</main> 
<footer>
   
  <section class="footerseccion">
    <article class= "artfooter1">
    <i class="fas fa-credit-card menuheader"></i>
    <h2>Pagá con tarjeta o en efectivo</h2>
    <p class="menuheader">
      Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
      efectivo en puntos de pago. ¡Y siempre es seguro!
    </p>
  </article>
<article class= "artfooter2">
    <i class="fas fa-gift menuheader"></i>
    <h2>Envío gratis desde $ 2.500</h2>
    <p class="menuheader">
      Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
      miles de productos. Es un beneficio de Mercado Puntos.
    </p>
  </article>
 <article class= "artfooter3">
    <i class="fas fa-user-shield menuheader"></i>
    <h2>Seguridad, de principio a fin</h3>
    <p class="menuheader">
      ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
      puedas hacer, porque estás siempre protegid@.
    </p>
  </article>
</section>
<section class="footerseccion">
<h4 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</section> 
</footer>
</body>
</html> 
